*{
  box-sizing:border-box;
}
html
   { 
    background: url(images/corkBoardWP.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
   }
body{
  display: block;
  margin:0;
}

.container{
   width: 90%;
  margin: 30px auto;
  padding: 25px;
  min-height: 400px;
  height: auto;
  display: inline;
}
ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:2.2em;
  padding-left: 5em;
}
ul li{
  margin:0.1em;
  float:left;
}
p{
  font-family: 'Satisfy';
  font-size: 25px;
  margin: 0px;
  text-align: center;
}
ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:5em;
  width:9em;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
   -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
  /*tilting the notes*/
   -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
 /*tilting the notes for the child*/
ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background: #cfc;
}
ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background: #CCE6FF;
}
ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
  background: #cccdff;
}
/* Zooming and focus the notes*/
ul li a:hover,ul li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
.container span{
  background: url(images/pin.png) no-repeat;
  width: 77px;
  height: 27px;
  display: block;
  position: absolute;
  left: 90px;
  top: -12px;
}
/*slide-down*/
h1{
  display: inline;
  padding-left: 5px;
  font-family: 'Patrick Hand SC';
}
ol li{
  list-style: decimal;
  float: none;
  text-align: bold;
  font-size: 1.5em;
}
h2, p {
  text-align: left;
}
h2{
  margin-bottom: 0px;
}
h2, ol li{
  font-family: 'Patrick Hand SC';
}
small{
  font-family: 'Satisfy';
  font-size: 1.1em;
}
.polaroid-image{
  background: white;
  display: inline;
  float: left;
  margin: 0 15px 15px;
  padding: 10px 10px 25px;
  text-align: center;
  text-decoration: none;
  font-family: 'Patrick Hand SC';
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  z-index:0;
  position:relative;
} 
.info{
  padding-left: 1em;
  margin: 0px;
  background:#ffc;
}
#inline1,#inline3,#inline7,#inline13,#inline15,#inline21,#inline25,#inline27,
#inline31,#inline33,#inline37,#inline43,#inline45{
  background:#cfc ;
}
#inline2,#inline5,#inline8,#inline11,#inline17,#inline20,#inline23,#inline26,#inline32,#inline35,
#inline38,#inline41,#inline47,#inline50{
  background: #CCE6FF;
}
#inline4,#inline9,#inline14,#inline19,#inline24,#inline29,#inline34,#inline39,#inline44
#inline49{
  background: #cccdff;
}
#slide-down{
  display: none;
  overflow: hidden;
  height:25em;
  width:45em;
}
/* button go back*/
button {
  position: absolute;
  bottom: 10px;
  right: 40px;
   border-top: 1px solid #f7c197;
   background: #d69665;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c573e), to(#d69665));
   background: -webkit-linear-gradient(top, #9c573e, #d69665);
   background: -moz-linear-gradient(top, #9c573e, #d69665);
   background: -ms-linear-gradient(top, #9c573e, #d69665);
   background: -o-linear-gradient(top, #9c573e, #d69665);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: 'Patrick Hand SC';
   text-decoration: none;
   vertical-align: middle;
   }
button:hover {
   border-top-color: #784529;
   background: #784529;
   color: #ccc;
   }
button:active {
   border-top-color: #5c2a1b;
   background: #5c2a1b;
   }
/*to remove the blue border around the button when is on focus*/
button:focus {
  outline:0;
}
 @media screen and (max-width: 800px){
   ul{
    padding-left: 5em;
  }
  button{
    bottom: -470px;
  }
 }